body{
  font-family: 'Roboto', sans-serif;
}
.hBJaMjXyxFmC{
  margin-top: 26%;
}
.wENdLuVNcKKE{
  margin-left: 17px;
}
.HPKMsqpjDOti{
  background-color: #00b0f0;
}
.EyvCTcApeuLX{
  margin-top: 15%;
  color: black;
}
.bQUvZnCHJdwd{
  text-align: center;
  font-size: 72px;
}
.MjURNamWKmpX{
  text-align: center;
  font-size: 24px;
  line-height: 0px;
  margin-bottom: 10px;
}
.gVxLJhKNTPDDW{
  margin-top: 100px;
  display: block;
  color: #000;
  background: #fff;
  padding: 20px;
  border: 2px solid #00b0f0;
  border-radius: 50px;
}
.gVxLJhKNTPDDW:hover{
  color: rgb(73, 73, 73);
}

#container {
    text-align: center;
    color:rgb(58, 58, 58);
    font-size:36px;
    font-weight:bold;
    padding-top:200px;  
    position:fixed;
    width:100%;
    bottom:45%;
    display:block;
    line-height: 30px;
  }
  
  #flip {
    height:50px;
    overflow:hidden;
  }
  
  #flip > div > div {
    color:#fff;
    padding:4px 12px;
    height:45px;
    margin-bottom:45px;
    display:inline-block;
  }
  
  #flip div:first-child {
    animation: show 10s linear infinite;
  }
  @keyframes show {
    0% {margin-top:-270px;}
    5% {margin-top:-180px;}
    33% {margin-top:-180px;}
    38% {margin-top:-90px;}
    66% {margin-top:-90px;}
    71% {margin-top:0px;}
    99.99% {margin-top:0px;}
    100% {margin-top:-270px;}
  }
  
  #flip div div {
    color:#42c58a;
  }
  #flip div:first-child div {
    color:#4ec7f3;
  }
  #flip div:last-child div {
    color:#71009e;
  }