body{
  font-family: 'Roboto', sans-serif;
}
.hBJaMjXyxFmC{
  margin-top: 5%;
}
.wENdLuVNcKKE{
  margin-left: 17px;
}
.HPKMsqpjDOti{
  background-color: #00b0f0;
}
.EyvCTcApeuLX{
  margin-top: 15%;
  color: black;
}
.bQUvZnCHJdwd{
  text-align: center;
  font-size: 72px;
}
.MjURNamWKmpX{
  text-align: center;
  font-size: 24px;
  line-height: 0px;
  margin-bottom: 10px;
}
.gVxLJhKNTPDDW{
  margin-top: 100px;
  display: block;
  color: #000;
  background: #fff;
  padding: 20px;
  border: 2px solid #00b0f0;
  border-radius: 50px;
}
.gVxLJhKNTPDDW:hover{
  color: rgb(73, 73, 73);
}
.BvuerZMTKVny{
  margin-top: 7%;
  background-color: rgb(199, 199, 199);
  margin-left: 20%;
  margin-right: 20%;
}

  .container {
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 280px 280px 280px;
    grid-template-rows: 150px 150px;
    grid-gap: 1rem;
  }
  .item {
    padding: 0px;
    border-radius: 5px;
  }
  .title {
    text-align: center;
    color: #00b0f0;
    padding-left: 10px;
    font-size: 24px;
    line-height: 0px;
  }

  .con{
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }

  .qcmqw{
    line-height: 0px;
    text-align: center;
    font-weight: bold;
    font-size: 42px;
    color: #00b0f0;
  }